<ion-content class="detalle-page">
  <div>
    <ion-icon (click)="goBack()" class= "icon-back" color="light" name="arrow-back-outline"></ion-icon>
    <img class="img-rutina" [src]="firebaseService.rutinaDetalle.imagen">
  </div>
  <div class="body-recipe-container">
      <ion-text class="nombre-ejercicio-listado" color="primary">
        {{ firebaseService.rutinaDetalle.nombre }}
      </ion-text><br>
      <ion-text class="descripcion-ejercicio-listado ion-text-wrap color-gris">
       {{ firebaseService.rutinaDetalle.descripcion }}
      </ion-text>
      <ion-grid>
        <ion-row>
          <ion-col class="columns-texto-icons-ejercicio-listado">
              <ion-icon class="icons-ejercicio-listado" color="warning" name="alarm-outline"></ion-icon>
              <ion-text class="texto-icons-ejercicio-listado" color="primary">
                <p> Descansos {{ firebaseService.rutinaDetalle.descanso }} </p>
              </ion-text>
          </ion-col>
          <!--- <ion-col class="columns-texto-icons-ejercicio-listado" size="3">
            <ion-icon style="font-size: 20px;" class="icons-ejercicio-listado" color="warning" name="flame-outline"></ion-icon>
            <ion-text class="texto-icons-ejercicio-listado" color="primary">
              {{ firebaseService.rutinaDetalle.repeticiones }}
            </ion-text>
          </ion-col> --->
        </ion-row>
      </ion-grid>
    </div>

      <div class = "body-recipe-container">
        <ion-text class="nombre-ejercicio-listado" color="primary">
          Sugerencias de ejercicios
        </ion-text><br>
        <ion-slides [options] ="slideOpts">
          <ion-slide *ngFor ="let item of firebaseService.rutinaDetalle.sugerencias" class="slide-sugerencias">
            <img class="img-sugerencias" [src]="item.imagenEjercicio">
            <ion-text class="text-top-sugerencias">
              {{ item.nombre }}
            </ion-text>

          </ion-slide>
      </ion-slides>
    </div>

      <div class="body-recipe-container">
        <ion-text class="nombre-ejercicio-listado" color="primary">
          Consejo
        </ion-text><br>
        <ion-text class="descripcion-ejercicio-listado ion-text-wrap color-gris" color="medium">
          {{ firebaseService.rutinaDetalle.tip }}
        </ion-text>
      </div>

</ion-content>
