.icon-search{
  color:#B7C3CE;
  font-size: 25px;
  margin: 10px;
}

.slide{
  width: 140px;
  height: 90px;
  margin-top: 5px;
  margin-left:5px;
}

img-categoria{
  border-radius: 12px;
  width: 140%;
  z-index: 0;
}
.text-cuerda{
  z-index: 1;
  position: absolute;
  color: white;
  font-size: 16px;
  left: 10px;
  bottom: 10px;
}

