<div (click)="goToDetallePage(rutina)" *ngFor="let rutina of listadoRutinas">
  <img class="img-ejercicio-listado" [src]="rutina.imagen">
  <ion-text class="nombre-ejercicio-listado" color="primary">
    {{ rutina.nombre }}
  </ion-text><br>
  <ion-text class="descripcion-ejercicio-listado ion-text-wrap color-gris" color="medium">
    {{ rutina.descripcion }}
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col class="columns-texto-icons-ejercicio-listado" size="3">
          <ion-icon class="icons-ejercicio-listado" color="warning" name="alarm-outline"></ion-icon>
          <ion-text class="texto-icons-ejercicio-listado" color="primary">
            <p>{{ rutina.series }} series</p>
          </ion-text>
      </ion-col>
      <ion-col class="columns-texto-icons-ejercicio-listado" size="3">
        <ion-icon style="font-size: 20px;" class="icons-ejercicio-listado" color="warning" name="flame-outline"></ion-icon>
        <ion-text class="texto-icons-ejercicio-listado" color="primary">
          <p>{{ rutina.repeticiones }} reps</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>
